
<div class="bg-indigo-700 flex justify-center items-center" style="min-height: calc(100vh - 542px);">
  <div class="max-w-2xl mx-auto text-center py-16 px-4 sm:py-20 sm:px-6 lg:px-8">
    <h1 class="text-3xl font-extrabold text-white sm:text-5xl">
      {{ '404.title' | t }}
    </h1>
    <p class="mt-4 text-lg leading-6 text-indigo-200">{{ '404.text' | t }}</p>
    <a href="{{ routes.all_products_collection_url }}" class="mt-8 w-full inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-indigo-600 bg-white hover:bg-indigo-50 sm:w-auto"> 
    	Continue shopping
    </a>
  </div>
</div>
